*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBox{
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
    margin-top: 5%;
}
label{
    font-weight: bolder;
    color: black;
}
.user{
    border: none;
}
#usernametext{
    font-weight: bolder;
    color:black;
}
#username{
    border: none;
}
.content{
    border: 1px solid rgb(145, 141, 141);
    height: 40vh;
}
#gossips{
    font-weight: bolder;
    color:black;
}
#post{
    height: 100%;
    border: none;
    padding: 2px;
}